process {
  withName: publishStatesProc {
    publishDir = [ enabled: false ]
  }
}

profiles {
  gcb {
    process.executor = 'google-batch'
    workDir = 'gs://data-intuitive-temp/work/'
    google.region  = 'eu-west1'
    google.project = 'di-compute'
  }
}

dag {
  depth = 3
  verbose = true
  overwrite = true
}
